# Python virtual environment
venv/
.venv/
env/

# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Local uploads & temporary directories
server/sounds/
server/temp/

# OS metadata
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

sounds